langchain
langchain_community
langchain-google-genai
python-dotenv
streamlit==1.39.0
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
rapidocr-onnxruntime
chromadb
google-generativeai
pysqlite3-binary


