langchain
langchain_community
langchain-google-genai
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
rapidocr-onnxruntime
chromadb
google-generativeai
protobuf<=3.20.3
chromadb[duckdb]
duckdb>=0.8.1